
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_NonAdminLayout.cshtml";
}

<h1>CreateProduct</h1>

<form>
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Product Category</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category :</label>
                        <select class="form-control" id="ddlCategory">
                            <option>Book</option>
                            <option>Cloth</option>
                            <option>Electronics</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>SubCategory :</label>
                        <select class="form-control" id="ddlSubCategory">
                            <option>Novel</option>
                            <option>Jeans</option>
                            <option>Shirt</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
</form>

